<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pigredorou.topquizz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Pigre Application"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controleur.TresFute"></activity>
        <activity android:name=".controleur.TresFuteSolo" />
        <activity android:name=".controleur.TresFuteScore" />
        <activity
            android:name=".controleur.JeuxDeSocieteActivity"
            android:label="@string/title_activity_jeux_de_societe"
            android:screenOrientation="fullSensor"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".controleur.QuestionsActivity" />
        <activity android:name=".controleur.QuizzActivity" />
        <activity android:name=".controleur.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>